# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

yasminoku_025a_english/*.htm linguist-language=JavaScript
yasminoku_025a_english/*.html linguist-language=JavaScript

yasminoku_025a_spanish/*.htm linguist-language=JavaScript
yasminoku_025a_spanish/*.html linguist-language=JavaScript

yasminoku_025a_unofficial_translations/* linguist-detectable=false
homepage/* linguist-detectable=false

*.css linguist-detectable=false
*.php linguist-detectable=false
*.htm linguist-language=JavaScript
*.html linguist-language=JavaScript