<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.jalbam.yasminoku</string>
       <key>Developer Identifier</key>
       <string>5L6833RX5Z</string>
       <key>CFBundleVersion</key>
       <string>0.75</string>
       <key>CFBundleShortVersionString</key>
       <string>0.75</string>
       <key>URL</key>
       <string>http://yasminoku.tuxfamily.org/new/yasminoku_075a_safari_extension.safariextz</string>
     </dict>
   </array>
</dict>
</plist>